<h1>Witaj</h1>
<p>Tutaj będzie opis</p>

<h2>Stworzone funkcjonalności</h2>
<ul>
  <li><%= link_to "Klienci (tworzenie, przeglądanie, usuwanie)", clients_path %></li>
  <li><%= link_to "Faktury uproszczenie (tworzenie, przeglądanie, usuwanie)", invoices_path %></li>
</ul>

<h2>Następne funkcjonalności</h2>
<ul>
  <li>Faktury poprawa (dodanie dynamicznych formularzy do wprowadzania danych. Wyszukiwanie klientów, usług ich dodawanie na zywo)</li>
</ul>
