<h1>Witaj</h1>
<p>Tutaj będzie opis</p>

<h2>Stworzone funkcjonalności</h2>
<ul>
  <li><%= link_to "Klienci (tworzenie, przeglądanie, usuwanie)", clients_path %></li>
</ul>

<h2>Następne funkcjonalności</h2>
<ul>
  <li>Faktury (tworzenie, przeglądanie, usuwanie)</li>
</ul>
