jQuery ->
  pageLoad()

pageLoad = () ->
  invoice_item_add_event()
  invoice_item_remove_event()
  startSelect()
  invoice_name_get_on_date_change()
  create_object_links()
  date_picker_start()
  invoice_item_calculate_on_change()
  invoice_items_price_update_on_item_change()
  advanced_search_button_event()
  reset_search_button_event()

invoice_item_add_event = () ->
  $('form').on 'click', '.add_fields', (event) ->
    time = new Date().getTime()
    regexp = new RegExp($(this).data('id'), 'g')
    $(this).before($(this).data('fields').replace(regexp, time))
    event.preventDefault()
    $('.invoice_items_form').find('select').select2
        theme: 'bootstrap'
        ajax:
          url: '/items.json'
          dataType: 'json'
          processResults: (data) ->
            return {
            results: $.map(data, (item, i) ->
              {
                id: item.id
                text: item.name
              }
           )}
    create_object_links()
    invoice_items_price_update_on_item_change()
    invoice_item_calculate_on_change()

invoice_item_calculate = (invoice_item_group) ->
  parent = invoice_item_group

  net_price_input = parent.find('.net_price')
  value_added_tax_input = parent.find('.value_added_tax')
  total_selling_price_input = parent.find('.total_selling_price')

  quantity = parseInt(parent.find('.quantity').val())
  unit_price = parseFloat(parent.find('.unit_price').val())
  tax_rate = parseInt(parent.find('.tax_rate').val())

  net_price = quantity * unit_price
  net_price = parseFloat(net_price).toFixed(2)
  value_added_tax = net_price * (tax_rate/100)
  value_added_tax = parseFloat(value_added_tax).toFixed(2)
  total_selling_price = parseFloat(net_price) + parseFloat(value_added_tax)
  total_selling_price = parseFloat(total_selling_price).toFixed(2)

  net_price_input.val(parseFloat(net_price).toFixed(2))
  value_added_tax_input.val(parseFloat(value_added_tax).toFixed(2))
  total_selling_price_input.val(parseFloat(total_selling_price).toFixed(2))

  invoice_calculate()

invoice_item_calculate_on_change = () ->
  $('.invoice_items_form').find('.editable_invoice_item_input').change ->
    invoice_item_calculate($(this).parent())
    # parent = $(this).parent()
    #
    # net_price_input = parent.find('.net_price')
    # value_added_tax_input = parent.find('.value_added_tax')
    # total_selling_price_input = parent.find('.total_selling_price')
    #
    # quantity = parseInt(parent.find('.quantity').val())
    # unit_price = parseFloat(parent.find('.unit_price').val())
    # tax_rate = parseInt(parent.find('.tax_rate').val())
    #
    # net_price = quantity * unit_price
    # net_price = parseFloat(net_price).toFixed(2)
    # value_added_tax = net_price * (tax_rate/100)
    # value_added_tax = parseFloat(value_added_tax).toFixed(2)
    # total_selling_price = parseFloat(net_price) + parseFloat(value_added_tax)
    # total_selling_price = parseFloat(total_selling_price).toFixed(2)
    #
    # net_price_input.val(parseFloat(net_price).toFixed(2))
    # value_added_tax_input.val(parseFloat(value_added_tax).toFixed(2))
    # total_selling_price_input.val(parseFloat(total_selling_price).toFixed(2))

    #invoice_calculate()

invoice_calculate = () ->
  net_price_inputs = $('.net_price')
  value_added_tax_inputs = $('.value_added_tax')
  total_selling_price_inputs = $('.total_selling_price')

  invoice_net_price = $('#invoice_net_price')
  invoice_value_added_tax = $('#invoice_value_added_tax')
  invoice_total_selling_price = $('#invoice_total_selling_price')

  net_price = 0
  value_added_tax = 0
  total_selling_price = 0

  net_price_inputs.each (index, element) ->
    if ($(this).is(":visible"))
      net_price += parseFloat($(this).val())
  value_added_tax_inputs.each (index, element) ->
    if ($(this).is(":visible"))
      value_added_tax += parseFloat($(this).val())
  total_selling_price_inputs.each (index, element) ->
    if ($(this).is(":visible"))
      total_selling_price += parseFloat($(this).val())

  invoice_net_price.val(parseFloat(net_price).toFixed(2))
  invoice_value_added_tax.val(value_added_tax.toFixed(2))
  invoice_total_selling_price.val(total_selling_price.toFixed(2))

invoice_item_remove_event = () ->
  $('form').on 'click', '.remove_invoice_items', (event) ->
    $(this).prev('input[type=hidden]').val('1')
    $(this).closest('li').hide()
    event.preventDefault()
    invoice_calculate()

startSelect = () ->
    $('#invoice_client_id').select2
      theme: 'bootstrap'
      ajax:
        url: '/clients.json'
        dataType: 'json'
        processResults: (data) ->
          return {
          results: $.map(data, (client, i) ->
            {
              id: client.id
              text: client.name
            }
         )}
      language:
        noResults: ->
           return "<a href='/clients/new' class='create_object' target='_blank'>Dodaj klienta</a>"
      escapeMarkup: (markup) ->
        return markup;

    $('#invoice_seller_id').select2
      theme: 'bootstrap'
      ajax:
        url: '/clients.json'
        dataType: 'json'
        processResults: (data) ->
          return {
          results: $.map(data, (client, i) ->
            {
              id: client.id
              text: client.name
            }
         )}

    $('.invoice_items_form').find('select').select2
        theme: 'bootstrap'
        placeholder:
          id: "-1",
          placeholder: "Select an option"
        ajax:
          url: '/items.json'
          dataType: 'json'
          processResults: (data) ->
            return {
            results: $.map(data, (item, i) ->
              {
                id: item.id
                text: item.name
              }
           )}
        language:
          noResults: ->
            return "<a href='/items/new' class='create_object' target='_blank'>Dodaj przedmiot</a>"
        escapeMarkup: (markup) ->
          return markup;

invoice_name_get_on_date_change = () ->
  $('#invoice_date').change ->
    date = new Date($(this).val())
    month = date.getMonth()+1
    year = date.getYear() + 1900
    #console.log(year)
    $.ajax "/invoices/invoice_name/#{year}/#{month}.json",
      type: 'GET'
      dataType: 'json'
      success: (data, textStatus, jqXHR) ->
        console.log(data['number'])
        $('#invoice_invoice_name_attributes_number').val(data['number'])
        $('#invoice_invoice_name_attributes_month').val(month)
        $('#invoice_invoice_name_attributes_year').val(year)

create_object_links = () ->
  $('.create_object').click (e) ->
    url = $(this).attr("href")
    window.open(url, 'co to', 'toolbars=0,width=500,height=600,left=200,top=200,scrollbars=1,resizable=1')
    e.preventDefault()

date_picker_start = () ->
    $('#datetimepicker1').datepicker ->
      locale: 'pl'

    $('.date').datepicker ->
      locale: 'pl'

invoice_items_price_update_on_item_change = () ->
  $('.invoice_items_form').find($('.select2-hidden-accessible')).change ->
    item_id = $(this).find(":selected").val()
    unit_price_input = $(this).parent().find('.unit_price')
    parent = $(this).parent()
    unit_price = 0;
    $.ajax "/items/#{item_id}.json",
      type: 'GET'
      dataType: 'json'
      error: (jqXHR, textStatus, errorThrown) ->
          console.log(textStatus)
      success: (data, textStatus, jqXHR) ->
          console.log(data['unit_price'])
          unit_price = data['unit_price']
          unit_price = unit_price.toString().replace(",",".")
          unit_price_input.val(unit_price)
          invoice_item_calculate(parent)



advanced_search_button_event = () ->
  $('#advanced_search_button').click (e) ->
    advanced_search_form = $('#advanced_search_invoice_form')
    if advanced_search_form.is(":visible")
      advanced_search_form.hide(300)
      $(this).text("Zaawansowane wyszukiwanie")
      advanced_search_clear()
      e.preventDefault()
    else
      advanced_search_form.show(300)
      $(this).text("Tylko proste wyszukiwanie")
      e.preventDefault()

reset_search_button_event = () ->
  $('#reset_search_button').click (e) ->
    invoice_search_clear()
    e.preventDefault()

invoice_search_clear = () ->
  simple_search_clear()
  advanced_search_clear()

simple_search_clear = () ->
  $('#short_search_invoice_form').find('input').val("")

advanced_search_clear = () ->
  $('#advanced_search_invoice_form').find('input').val("")
