#= require invoices_price_in_words.js
#= require clients.js

$(".invoices").ready ->
  pageLoad()

$(".invoices.new_invoice_from_transport_orders").ready ->
  $('.invoice_item').each () ->
    console.log($(this))
    invoice_item_calculate($(this))

$(".invoices.new_correction").ready ->
  $('.invoice_item_correction').each () ->
    console.log($(this))
    invoice_item_calculate($(this))


pageLoad = () ->
  startSelect()
  invoice_items_functions()
  invoice_name_get_on_date_change()
  invoice_name_get_on_kind_change()
  invoice_get_name(true)
  invoice_client_info_get_on_client_change()
  sidebar_functions()
  currency_rate_functions()
  modal_functions()
  invoice_status_functions()
  create_invoice_redirect_on_invoice_type_select()

#
# Invoice items
#
invoice_items_functions = () ->
  invoice_item_add_event()
  invoice_item_remove_event()
  create_object_links()
  invoice_item_calculate_on_change()
  invoice_items_price_update_on_item_change()

invoice_item_add_event = () ->
  $('form').on 'click', '.add_fields', (event) ->
    time = new Date().getTime()
    regexp = new RegExp($(this).data('id'), 'g')
    $(this).parent().parent().before($(this).data('fields').replace(regexp, time))
    event.preventDefault()
    startSelect()

    create_object_links()
    invoice_items_price_update_on_item_change()
    invoice_item_calculate_on_change()

create_object_links = () ->
  $('.create_object').click (e) ->
    url = $(this).attr("href")
    window.open(url, 'co to', 'toolbars=0,width=500,height=600,left=200,top=200,scrollbars=1,resizable=1')
    e.preventDefault()

invoice_items_price_update_on_item_change = () ->
  $('.invoice_items_form').find($('.select2-hidden-accessible')).change ->
    item_id = $(this).find(":selected").val()
    unit_price_input = $(this).parent().parent().find('.unit_price')
    parent = $(this).parent().parent()
    unit_price = 0;
    $.ajax "/items/#{item_id}.json",
      type: 'GET'
      dataType: 'json'
      error: (jqXHR, textStatus, errorThrown) ->
        console.log(textStatus)
      success: (data, textStatus, jqXHR) ->
        console.log(data['unit_price'])
        unit_price = data['unit_price']
        unit_price = unit_price.toString().replace(",",".")
        unit_price_input.val(unit_price)
        invoice_item_calculate(parent)

invoice_item_calculate = (invoice_item_group, class_suffix = '') ->
  parent = invoice_item_group

  net_price_input = parent.find('.net_price' + class_suffix)
  value_added_tax_input = parent.find('.value_added_tax' + class_suffix)
  total_selling_price_input = parent.find('.total_selling_price' + class_suffix)

  quantity = parseInt(parent.find('.quantity' + class_suffix).val())
  unit_price = parseFloat(parent.find('.unit_price' + class_suffix).val())
  tax_rate_name = parent.find('.tax_rate' + class_suffix + " option:selected").text()
  tax_rate = parseInt(tax_rate_name)
  if tax_rate_name == "zw" || tax_rate_name == "nw"
    tax_rate = 0
  net_price = quantity * unit_price
  net_price = parseFloat(net_price).toFixed(2)
  value_added_tax = net_price * (tax_rate/100)
  value_added_tax = parseFloat(value_added_tax).toFixed(2)
  total_selling_price = parseFloat(net_price) + parseFloat(value_added_tax)
  total_selling_price = parseFloat(total_selling_price).toFixed(2)

  net_price_input.val(parseFloat(net_price).toFixed(2))
  value_added_tax_input.val(parseFloat(value_added_tax).toFixed(2))
  total_selling_price_input.val(parseFloat(total_selling_price).toFixed(2))

  if $('#invoice_kind').val() == 'correction'
    invoice_correction_calculate_difference(parent)
    invoice_calculate('_difference')
  else
    invoice_calculate()

invoice_correction_calculate_difference = (invoice_item_group) ->
  parent = invoice_item_group

  quantity_input = parent.find('.quantity')
  quantity_correction_input = parent.find('.quantity_correction')
  quantity_difference_input = parent.find('.quantity_difference')

  unit_price_input = parent.find('.unit_price')
  unit_price_correction_input = parent.find('.unit_price_correction')
  unit_price_difference_input = parent.find('.unit_price_difference')

  net_price_input = parent.find('.net_price')
  net_price_correction_input = parent.find('.net_price_correction')
  net_price_difference_input = parent.find('.net_price_difference')

  value_added_tax_input = parent.find('.value_added_tax')
  value_added_tax_correction_input = parent.find('.value_added_tax_correction')
  value_added_tax_difference_input = parent.find('.value_added_tax_difference')

  total_selling_price_input = parent.find('.total_selling_price')
  total_selling_price_correction_input = parent.find('.total_selling_price_correction')
  total_selling_price_difference_input = parent.find('.total_selling_price_difference')


  unit_price_difference_input.val(parseFloat(unit_price_correction_input.val()) - parseFloat(unit_price_input.val()))
  quantity_difference_input.val(parseFloat(quantity_correction_input.val()) - parseFloat(quantity_input.val()))
  net_price_difference_input.val(parseFloat(net_price_correction_input.val()) - parseFloat(net_price_input.val()))
  value_added_tax_difference_input.val(parseFloat(value_added_tax_correction_input.val()) - parseFloat(value_added_tax_input.val()))
  total_selling_price_difference_input.val(parseFloat(total_selling_price_correction_input.val()) - parseFloat(total_selling_price_input.val()))

invoice_item_calculate_on_change = () ->
  $('.invoice_items_form').find('.editable_invoice_item_input').change ->
    invoice_item_calculate($(this).parent().parent())
  $('.invoice_items_form').find('.editable_invoice_item_correction_input').change ->
    invoice_item_calculate($(this).parent().parent(), '_correction')


invoice_item_remove_event = () ->
  $('form').on 'click', '.remove_invoice_items', (event) ->
    $(this).prev('input[type=hidden]').val('1')
    $(this).closest('tr').hide()
    event.preventDefault()
    invoice_calculate()


invoice_calculate = (class_suffix = '') ->
  net_price_inputs = $('.net_price' + class_suffix)
  value_added_tax_inputs = $('.value_added_tax' + class_suffix)
  total_selling_price_inputs = $('.total_selling_price' + class_suffix)

  invoice_net_price = $('#invoice_net_price')
  invoice_value_added_tax = $('#invoice_value_added_tax')
  invoice_total_selling_price = $('#invoice_total_selling_price')

  net_price = 0
  value_added_tax = 0
  total_selling_price = 0

  net_price_inputs.each (index, element) ->
    if ($(this).is(":visible"))
      net_price += parseFloat($(this).val())
  value_added_tax_inputs.each (index, element) ->
    if ($(this).is(":visible"))
      value_added_tax += parseFloat($(this).val())
  total_selling_price_inputs.each (index, element) ->
    if ($(this).is(":visible"))
      total_selling_price += parseFloat($(this).val())

  invoice_net_price.val(parseFloat(net_price).toFixed(2))
  invoice_value_added_tax.val(value_added_tax.toFixed(2))
  invoice_total_selling_price.val(total_selling_price.toFixed(2))
  after_float_point = total_selling_price.toFixed(2) - Math.floor(total_selling_price.toFixed(2))
  after_float_point = after_float_point.toFixed(2) * 100
  if after_float_point < 10
    after_float_point = "0" + after_float_point.toFixed()

  total_price_in_words = polishToWords(total_selling_price.toFixed(2)) + " euro " + after_float_point + "/100"
  $('#invoice_total_price_in_words').val(total_price_in_words)

#
# Modal functions
#
modal_functions = () ->
  modal_success_binds()
  modal_error_binds()
  modal_actions()
  hide_optional_fields_in_modal()
  toogle_optional_fields_in_modal_on_click()

modal_success_binds = () ->
  $(document).bind("ajax:success", (event, data, status, xhr) ->
    if ( event.target.id == "new_client" )
      option = $('<option selected>' + data.client_info + '</option>').val("" + data.id);
      $("#invoice_client_id").append(option).trigger('change');
      $('#new_client_modal').modal_success();
      console.log("klient")
    else if (event.target.id == "new_item")
      $('#new_item_modal').modal_success();
      option = $('<option selected>' + data.name + '</option>').val("" + data.id);
      $('.item_select').find('select').append(option).trigger('change');
      console.log("item"))

modal_error_binds = () ->
  $(document).bind("ajaxError", (event, jqxhr, settings, exception) ->
    $(event.data).render_form_errors($.parseJSON(jqxhr.responseText)))

modal_actions = () ->
  $.fn.modal_success = ->
    # close modal
    @modal 'hide'
    # clear form input elements
    # todo/note: handle textarea, select, etc
    @find('form input[type="text"]').val ''
    # clear error state
    @clear_previous_errors()
    return

  $.fn.render_form_errors = (errors) ->
    console.log 'chce rendererowarac errory'
    $form = this
    @clear_previous_errors()
    model = @data('model')
    console.log model
    #client_contact_attributes_fax
    # show error messages in input form-group help-block
    $.each errors, (field, messages) ->
      console.log field
      if field.search('[.]') > 0
        association = field.substring(0, field.search('[.]'))
        association = association + '_attributes'
        attribute = field.substring(field.search('[.]') + 1)
        $input = $('input[name="' + model + '[' + association + ']' + '[' + attribute + ']"]')
        console.log 'input[name="' + model + '[' + association + ']' + '[' + attribute + ']"]'
        $input.closest('.form-group').addClass('has-error').find('.help-block').html messages.join(' & ')
      else
        $input = $('input[name="' + model + '[' + field + ']"]')
        console.log 'input[name="' + model + '[' + field + ']"]'
        $input.closest('.form-group').addClass('has-error').find('.help-block').html messages.join(' & ')
      return
    return

  $.fn.clear_previous_errors = ->
    $('.form-group.has-error', this).each ->
      $('.help-block', $(this)).html ''
      $(this).removeClass 'has-error'
      return
    return

hide_optional_fields_in_modal = () ->
  $('.modal-body').find('.optional').hide()

toogle_optional_fields_in_modal_on_click = () ->
  $('#show_more_modal').click ->
    $('.optional').toggle()

#
# Select 2 opions
#
startSelect = () ->
  $('#invoice_client_id').select2
    theme: 'bootstrap'
    ajax:
      url: '/clients.json'
      dataType: 'json'
      processResults: (data) ->
        return {
        results: $.map(data, (client, i) ->
          {
            id: client.id
            text: client.client_info
          }
        )}
    language:
      noResults: ->
        return "<a type=\"button\" class=\"btn btn-info\" onclick='show_client_modal()'>Stwórz klienta</a>"
    escapeMarkup: (markup) ->
      return markup;

  # $('#invoice_seller_id').select2
  #   theme: 'bootstrap'
  #   ajax:
  #     url: '/clients.json'
  #     dataType: 'json'
  #     processResults: (data) ->
  #       return {
  #       results: $.map(data, (client, i) ->
  #         {
  #           id: client.id
  #           text: client.client_info
  #         }
  #       )}

    $('#invoice_invoice_to_correct_id').select2
      theme: 'bootstrap'
      ajax:
        url: '/invoices.json'
        dataType: 'json'
        processResults: (data) ->
          return {
          results: $.map(data, (invoice, i) ->
            {
              id: invoice.id
              text: invoice.name
            }
          )}
    .change ->
      invoice_to_correct_id = this.value
      link = "/invoices/new_correction/"+invoice_to_correct_id
      location.href = link

    $('.tax_rate').select2
      theme: 'bootstrap'

  $('.invoice_items_form').find('.item_select').find('select').select2
    theme: 'bootstrap'
    placeholder:
      id: "-1",
      placeholder: "Select an option"
    ajax:
      url: '/items.json'
      dataType: 'json'
      processResults: (data) ->
        return {
        results: $.map(data, (item, i) ->
          {
            id: item.id
            text: item.name
          }
        )}
    language:
      noResults: ->
        return "<a type=\"button\" class=\"btn btn-info\" onclick='show_item_modal()'>Stwórz towar</a>"
    escapeMarkup: (markup) ->
      return markup;

#
# Invoice name
#
invoice_name_get_on_date_change = () ->
  $('#invoice_date').change ->
    invoice_get_name()

invoice_name_get_on_kind_change = () ->
  $('#invoice_kind').change ->
    invoice_get_name(true)

invoice_get_name = (force = false) ->
  date = new Date($('#invoice_date').val())
  month = date.getMonth()+1
  year = date.getYear() + 1900
  date_s = $('#invoice_date').val()
  kind = $('#invoice_kind').val()
  invoice_month = String($('#invoice_invoice_name_attributes_month').val())
  if String(date.getMonth()+1) != invoice_month || force
    $.ajax "/invoices/invoice_name/#{kind}/#{date_s}.json",
      type: 'GET'
      dataType: 'json'
      success: (data, textStatus, jqXHR) ->
        console.log(data['number'])
        $('#invoice_invoice_name_attributes_number').val(data['number'])
        $('#invoice_invoice_name_attributes_month').val(month)
        $('#invoice_invoice_name_attributes_year').val(year)
        $('#invoice_invoice_name_attributes_prefix').val(data['prefix'])
        $('#invoice_name').val(''+data['prefix']+data['number']+'/'+month+'/'+year)
#
# Invoice client
#
invoice_client_info_get_on_client_change = () ->
  $('#invoice_client_id').change ->
    client_name = $('#invoice_client_name')
    client_street = $('#invoice_client_street')
    client_zip = $('#invoice_client_zip')
    client_city = $('#invoice_client_city')
    client_country = $('#invoice_client_country')
    client_email = $('#invoice_client_email')
    client_phone = $('#invoice_client_phone')
    client_nip = $('#invoice_client_nip')
    client_id = $(this).val()
    invoice_currency = $('#invoice_currency_rate_name')
    invoice_language = $('#invoice_invoice_language')
    deadline = $('#invoice_deadline')
    tax_rate = $('#tax_rate')
    $.ajax "/clients/#{client_id}.json",
      type: 'GET'
      dataType: 'json'
      error: (jqXHR, textStatus, errorThrown) ->
        console.log(textStatus)
      success: (data, textStatus, jqXHR) ->
        console.log(data['client_street'])
        client_name.val(data['client_name'])
        client_street.val(data['client_street'])
        client_zip.val(data['client_zip'])
        client_city.val(data['client_city'])
        client_country.val(data['client_country'])
        client_email.val(data['client_email'])
        client_phone.val(data['client_phone'])
        client_nip.val(data['client_nip'])
        invoice_currency.val(data['invoice_currency']).change()
        invoice_language.val(data['invoice_language']).change()
        deadline.val(data['payment_term']).change()
        tax_rate.val(data['tax_rate']).change()

#
# Sidebar
#
sidebar_functions = () ->
    advanced_search_button_event()
    reset_search_button_event()

advanced_search_button_event = () ->
  $('#advanced_search_button').click (e) ->
    advanced_search_form = $('#advanced_search_form')
    if advanced_search_form.is(":visible")
      advanced_search_form.hide(300)
      $(this).text("Zaawansowane wyszukiwanie")
      advanced_search_clear()
      e.preventDefault()
    else
      advanced_search_form.show(300)
      $(this).text("Tylko proste wyszukiwanie")
      e.preventDefault()

reset_search_button_event = () ->
  $('#reset_search_button').click (e) ->
    invoice_search_clear()
    e.preventDefault()

invoice_search_clear = () ->
  simple_search_clear()
  advanced_search_clear()

simple_search_clear = () ->
  $('#short_search_form').find('input').val("")

advanced_search_clear = () ->
  $('#advanced_search_form').find('input').val("")
  $('#advanced_search_form').find('input[type=checkbox]').prop('checked', false);

#
# Currency exchange
#
currency_rate_functions = () ->
    get_currency_rate()
    get_currency_rate_on_date_change()

get_currency_rate_on_date_change = () ->
  $('#invoice_date').change ->
    change_sell_date()
  $('#invoice_sell_date').change ->
    get_currency_rate()
  $('#invoice_currency_rate_name').change ->
    currency = $('#invoice_currency_rate_name').val()
    $('.currency').val(currency)
    get_currency_rate()
    $('.currency_change_warning').show()
  $('#invoice_invoice_exchange_currency').change ->
    get_currency_rate()

change_sell_date = () ->
  date = $('#invoice_date').val()
  $('#invoice_sell_date').val(date)
  get_currency_rate()

get_currency_rate = () ->
    if $('#invoice_kind').val() == 'correction'
      return false

    date = $('#invoice_sell_date').val()
    currency = $('#invoice_currency_rate_name').val()
    to_currency = $('#invoice_invoice_exchange_currency').val()
    if currency == to_currency || to_currency == "Nie przeliczaj"
      clear_currency_exchange()
      return 0

    #console.log(date)
    date = moment(date)
    day_before_date = date.subtract(1, 'days')
    console.log(day_before_date.weekday())
    if day_before_date.weekday() == 6
      day_before_date = day_before_date.subtract(1, 'days')
    else if day_before_date.weekday() == 0
      day_before_date = day_before_date.subtract(2, 'days')

    day_before_date_format = day_before_date.format('YYYY-MM-DD')
    #console.log(day_before_date_format);
    # url = "http://api.nbp.pl/api/exchangerates/rates/A/EUR/" + day_before_date_format
    # currency_rate_table_name = $('#invoice_currency_rate_table_name')
    # currency_rate_name = $('#invoice_currency_rate_name')
    # currency_rate = $('#invoice_currency_rate')
    get_currency_rate_from_date(day_before_date, currency, 0)

get_currency_rate_from_date = (date, currency, recurrency_level) ->
    url = "http://api.nbp.pl/api/exchangerates/rates/A/"+currency+"/" + date.format('YYYY-MM-DD')
    currency_rate_table_name = $('#invoice_currency_rate_table_name')
    #currency_rate_name = $('#invoice_currency_rate_name')
    currency_rate = $('#invoice_currency_rate')
    currency_rate_date = $('#invoice_currency_rate_date')

    $.ajax url,
      type: 'GET'
      dataType: 'json'
      error: (jqXHR, textStatus, errorThrown) ->
        if recurrency_level < 5
          get_currency_rate_from_date(date.subtract(1, 'days'), currency, recurrency_level+1)
        #console.log(textStatus)
      success: (data, textStatus, jqXHR) ->
        #console.log(data)
        currency_rate_table_name.val(data["rates"][0]["no"])
        currency_rate_date.val(data["rates"][0]["effectiveDate"])
        currency_rate.val(data["rates"][0]["mid"].toString())
        #currency_rate_name.val(data["code"])

clear_currency_exchange = () ->
  currency_rate_table_name = $('#invoice_currency_rate_table_name')
  currency_rate = $('#invoice_currency_rate')
  currency_rate_table_name.val('')
  currency_rate.val('')
#
# Invoice status
#
invoice_status_functions = () ->
  change_invoice_status_on_select_change()
  show_menu_on_invoice_update_checkbox_ticked()
  check_invoice_update_checkboxes()

change_invoice_status_on_select_change = () ->
  $('.invoice_option').click (e) ->
    status_index = $(this).attr("value")
    invoice_id = $(this).parent().parent().attr("invoice-id")
    main_button = $(this).parent().parent().parent().find('.status')
    toggle_button = $(this).parent().parent().parent().find('.dropdown-toggle')
    console.log(invoice_id)
    console.log(status_index)
    url = '/invoices/' + invoice_id

    $.ajax url,
      type: 'PUT'
      dataType: 'json'
      data:
            invoice : { status: status_index }
      error: (jqXHR, textStatus, errorThrown) ->
        console.log(textStatus)
      success: (data, textStatus, jqXHR) ->
        console.log(data)
        main_button.html(data["status"]);
        button_classes = "btn status btn-status-"+status_index
        toggle_classes = "btn dropdown-toggle btn-status-"+status_index
        main_button.attr('class', button_classes)
        toggle_button.attr('class', toggle_classes)

show_menu_on_invoice_update_checkbox_ticked = () ->
  $('.invoices_table').find('input').change ->
    check_invoice_update_checkboxes()

check_invoice_update_checkboxes = () ->
    checked_count = $('.invoices_table').find('input[type="checkbox"]:checked').length;
    if checked_count > 0
      $('.update_invoices').show()
      $('#invoices_to_update_count').show()
      $('#invoices_to_update_count').html(checked_count)
    else
      $('.update_invoices').hide()
      $('#invoices_to_update_count').hide()

create_invoice_redirect_on_invoice_type_select = () ->
  $('#invoice_kind').change ->
    type = $('#invoice_kind').val()
    link = "/invoices/new?kind="+type
    location.href = link
