/* EDIT CREATE */

.transport_order_name_form {
  input {
    width: 100px;
    display: inline;
  }
}

.remove_loading_places {
  @extend .btn;
  @extend .btn-danger;
}

.add_loading_place {
  @extend .btn;
  @extend .btn-success;
}

.transport_order_form {
  .row {
    margin-bottom: 20px;
  }
}
/* INDEX PAGE */

  .btn-status-false {
    @extend .btn-danger;
  }

  .btn-status-true {
    @extend .btn-success;
  }