.transport_orders {
  .transport_order_name_form {
    input {
      width: 100px;
      display: inline;
    }
  }
  .remove_loading_places {
    @extend .btn;
    @extend .btn-danger;
  }
  .add_loading_place {
    @extend .btn;
    @extend .btn-success;
  }
  .transport_order_form {
    .row {
      margin-bottom: 20px;
    }
  }
  /* INDEX PAGE */
  .btn-status-false {
    @extend .btn-danger;
  }
  .btn-status-true {
    @extend .btn-success;
  }
  /* SPEDITOR VIEW */
  .speditor_view_navigation {
    text-align: center;
    margin-bottom: 20px;
    .current_date {
      font-size: 35px;
    }
  }
  .place_form {
    input {
      width: auto;
      display: inline;
    }
  }
  .fast_form {
    margin-bottom: 0px;
    th {
      border-top: 2px solid #dddddd !important;
    }
    td {
      vertical-align: middle !important;
    }
    .email_input {
      width: 100%;
    }
    // .zip_input {
    //   width: 90px;
    // }
    // .city_input {
    //   width: 120px;
    // }
    // .freight_rate_input {
    //   width: 80px;
    // }
    // .distance_input {
    //   width: 80px;
    // }
    // #transport_order_client_id {
    //   width: 150px;
    // }
  }
  .speditor_view_head_row {
    background-color: #337ab7;
    color: white;
  }
  .hidden_fields {
    select {
      display: none;
    }
  }

  .transport_order_name_search {
    #transport_order_name_number {
      width: 100px;
      display: inline;
    }

    #transport_order_name_year {
      width: 150px;
      display: inline;
    }
  }

  #transport_order_client_id {
    width: 100%;
  }
  #transport_order_seller_id {
    width: 100%;
  }
  #transport_order_carrier_id {
    width: 100%;
  }

  .advanced_form {
    padding: 20px;
  }

  .advanced_form_collapse_button {
    text-align: right;
  }
}
