<footer class="footer">
  <div class="container">
    <ul class="list-inline">
      <li><%= link_to "O nas", about_us_path %></li>
      <li><%= link_to "Dla klientów", for_clients_path %></li>
      <li><%= link_to "Zasady korzystania", terms_of_use_path %></li>
      <li><%= link_to "Praca", work_for_us_path %></li>
    </ul>
  </div>
</footer>
